USE [master]
GO
/****** Object:  Database [EscapeRoom]    Script Date: 8/9/2026 08:37:48 ******/
CREATE DATABASE [EscapeRoom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EscapeRoom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EscapeRoom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EscapeRoom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EscapeRoom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EscapeRoom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EscapeRoom]
GO
/****** Object:  User [alumno]    Script Date: 8/9/2026 08:37:48 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Demichelis]    Script Date: 8/9/2026 08:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demichelis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Palabra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Demichelis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 8/9/2026 08:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Adivinanza] [varchar](max) NOT NULL,
	[Numero] [int] NOT NULL,
	[Posicion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partida]    Script Date: 8/9/2026 08:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreParticipante] [varchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[IdSala] [int] NOT NULL,
 CONSTRAINT [PK_Partida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 8/9/2026 08:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Demichelis] ON 

INSERT [dbo].[Demichelis] ([ID], [Palabra]) VALUES (1, N'Tiempo')
INSERT [dbo].[Demichelis] ([ID], [Palabra]) VALUES (2, N'Lejos')
INSERT [dbo].[Demichelis] ([ID], [Palabra]) VALUES (3, N'
Campos de entrenamiento')
SET IDENTITY_INSERT [dbo].[Demichelis] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([ID], [Nombre], [Adivinanza], [Numero], [Posicion]) VALUES (1, N'Franco Armani', N'Bajo los tres palos parece gigante, con tapadas eternas en noches de gloria. En Madrid fue la muralla más imponente, ¿quién es el pulpo que entró en la historia?', 1, N'Arquero')
INSERT [dbo].[Jugadores] ([ID], [Nombre], [Adivinanza], [Numero], [Posicion]) VALUES (2, N'Gonzalo Montiel', N'Por el lateral derecho no pasa nadie y de penal tiene pulso helado de acero. Campeón de América y del mundo con el Millo, ¿quién puso el sello final al trofeo?', 4, N'Defensor')
INSERT [dbo].[Jugadores] ([ID], [Nombre], [Adivinanza], [Numero], [Posicion]) VALUES (3, N'Daniel Passarella', N'Defensor con gol y voz de mando, el Gran Capitán de temple de fierro. Cinta en el brazo, zurda letal, ¿quién dominaba todo el terreno?', 6, N'Defensor')
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Sala] FOREIGN KEY([IdSala])
REFERENCES [dbo].[Sala] ([Id])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Sala]
GO
USE [master]
GO
